<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<system.serviceModel>
    <bindings />
    <client />
    <services>
        <service name="CORE.DatabaseManagerService">
            <endpoint address="DatabaseManager" binding="basicHttpBinding"
                contract="CORE.IDatabaseManager" />
            <endpoint address="DatabaseManager/Mex" binding="mexHttpBinding"
                contract="IMetadataExchange" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8090" />
                </baseAddresses>
            </host>
        </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>

        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>